apiVersion: apps/v1
kind: Deployment
metadata:
 name: workerpodautoscaler
 namespace: kube-system
 labels:
   app: workerpodautoscaler
spec:
 replicas: 1
 selector:
   matchLabels:
     app: workerpodautoscaler
 template:
   metadata:
     labels:
       app: workerpodautoscaler
   spec:
     serviceAccountName: workerpodautoscaler
     tolerations:
     - effect: NoExecute
       operator: Exists
     - effect: NoSchedule
       operator: Exists
     containers:
     - name: wpa
       env:
       - name: AWS_ACCESS_KEY_ID
         value: {{ WPA_AWS_ACCESS_KEY_ID }}
       - name: AWS_SECRET_ACCESS_KEY
         value: {{ WPA_AWS_SECRET_ACCESS_KEY }}
       image: practodev/workerpodautoscaler:v1.0.0-beta
       imagePullPolicy: Always
       command:
       - /workerpodautoscaler
       - run
       - --resync-period=20
       - --wpa-threads=10
       - --aws-regions={{ WPA_AWS_REGIONS }}
       - --sqs-short-poll-interval=20
       - --sqs-long-poll-interval=20
       - --k8s-api-qps=5.0
       - --k8s-api-burst=10
       - --wpa-default-max-disruption=100%
       - --queue-services=sqs,beanstalkd
       resources:
         limits:
           cpu: 100m
           memory: 100Mi
         requests:
           cpu: 10m
           memory: 20Mi
